%head
  %body
    .notification
    .group
      .group_name
        name
        =link_to edit_group_path(current_user) do
          %i.fa.fa-edit
        =link_to edit_user_path(current_user) do
          %i.fa.fa-cog
      .group_list
        tech
    .message
      .message_group
        グループ名
      .message_edit
        =link_to 'edit',new_group_path
      .message_user
        .message_user_title
          土曜日
        .message_user_comments
          学校ナウ
      .message_users
        .message_users_title
          日曜日
        .message_users_comments
          学校was
      .message_textarea
        %textarea.text{placeholder: "type a message",rows: "10",cols: "80"}
        .messages_botan
        %input.send{type: "button",value: "SENT"}
        %i.fa.fa-image
