%head
  %body
    .notification
      チャットグループが作成されました
    .group
      .group_name
        name
        %i.fa.fa-cog
        %i.fa.fa-edit
      .group_list
        tech
    .message
      .message_group
        グループ
      .message_edit
        %input.botan{type: "button",value: "edit"}
      .message_user
        .message_user_title
          土曜日
        .message_user_comments
          学校ナウ
      .message_users
        .message_users_title
          日曜日
        .message_users_comments
          学校WAS
      .message_textarea
        %textarea.text{placeholder: "type a messrge",rows: "10",cols: "80"}
        .messages_botan
        %input.send{type: "button",value: "SENT"}
        %i.fa.fa-image
