%head
  %body
    .header
      .header_news
        チャットグループが作成されました。
        .header_news.title
          sampleグループ
      .header_edit
        %input.botan{type: "submit",value: "edit"}
  .groupname
    .groupname_top
      %i.fa.fa-cog
      %i.fa.fa-edit
    .groupname_menu
  .messrge
  .footer
    .footer.messrges
      %textarea.text{placeholder: "名前を入力してください",rows: "10",cols: "80"}
      %i.fa.fa-image
    .footer_botan
      %input.send{type: "submit",value: "SENT"}
