%head
  %body
    .chatroom
      .chatroom_news
        チャットグループが作成されました。
        .chatroom_group_name
          sampleグループ
      .chatroom_edit
        %input.botan{type: "submit",value: "edit"}
  .group
    .group_name
      %i.fa.fa-cog
      %i.fa.fa-edit
    .group_list
  .chat_list
  .messages
    .messages_text
      %textarea.text{placeholder: "名前を入力してください",rows: "10",cols: "80"}
      %i.fa.fa-image
    .messages_botan
      %input.send{type: "submit",value: "SENT"}
