%head
  %body
    .header
      .header.news
        チャットグループが作成されました。
        .header.news.title
          sampleグループ
      .header.edit
        %input.botan{type: "submit",value: "edit"}
  .groupname
    .groupname.top
      %i.fa.fa-cog
      %i.fa.fa-edit
    .groupname.menu
  .messrge
  .foder
    .foder.messrges
      %textarea.text{placeholder: "名前を入力してください",rows: "10",cols: "80"}
      %i.fa.fa-image
    .foder.botan
      %input.send{type: "submit",value: "SENT"}
