.chatroom {
  width : 100%;
  height : 80px;
  position : fixed;
  top : 0;
  z-index : 1;
  background : white;
  &_news {
    height : 20px;
    width : 100%;
    background : $submit;
    position : fixed;
    top : 0;
    .chatroom_group_name {
      height : 20px;
      width : 200px;
      float : left;
      position : absolute;
      top : 35px;
      left : 240px;
      display : flex;
      background-color: white;
  }
 }
&_edit {
  height : 40px;
  width : 40px;
  float : right;
  position : relative;
  top : 40px;
  right : 80px;
  display : flex;
  font-size : 20px;
  .botan {
    color : #submit;
    height : 30px;
    font-size : 20px;
    border : 1px solid #0066ff;
    padding-left : 20px;
    padding-right : 20px;
    }
  }
}
  .group {
   float : left;
   height : 100%;
   width : 200px;
   background-color : $group;
   position : fixed;
   left : 0;
   top : 20px;
   z-index : 2;
    &_name {
      height : 80px;
      width : 200px;
      background-color : #253141;
      position : fixed;
    &_list {
      height : 60px;
      width : 200px;
      background-color : $group;
      position : fixed;
      top : 80px;
   }
  }
 }
.chat_list {
  width : 100%;
  height : 100%;
  background-color : $right;
  position : fixed;
  left : 40px;
  padding : 60px;
}
.messages {
  height : 90px;
  width : 100%;
  background-color : gray;
  position : fixed;
  bottom : 0;
  &_text {
    left : 200px;
    .text {
      line-height : 20px;
      text-align : left;
      height : 50px;
      margin : 20px;
      width : 80%;
      position: relative;
      left: 225px;
    }
  }
&_botan {
  height : 1px;
  width : 1px;
  position : fixed;
  right : 20px;
  bottom : 25px;
  background-color : $submit;
   }
  }
  .send{
    background-color : $submit;
    height : 50px;
    width : 80px;
    position : fixed;
    right : 40px;
    bottom : 19px;
    font-size : 20px;
  }
.fa-cog {
  color : red;
  position : fixed;
  left : 150px;
  top : 40px;
}
.fa-edit {
  color : black;
  position : fixed;
  left : 120px;
  top : 40px;
}
.fa-image {
  height : 20px;
  width : 20px;
  color : red;
  position : relative;
  right : 150px;
  top : 37px;
  float : right;
  background-color : white;
  }
