.notification {
  height: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
}
  .messages_textarea {
    background-color: gray;
    height: 80px;
    width: calc(100% - 287px);
    position: fixed;
    bottom: 0px;
    left: 300px;
  }

.form {
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__message {
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
  }
  &__mask {
    background-color: $white;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image {
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
  &__submit {
    background-color: $light_blue;
    border: none;
    color: $white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}
.messages {
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 46px 40px 0;
  height: calc(100% - 40px - 35px);
  .message {
    .upper-message {
      display: flex;
      &__user-name {
        color: $black;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        color: $light_gray;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        color: $black;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
  }
}
.messages {
  background-color: #FAFAFA;
  box-sizing: border-box;
  height: calc(100%-30px);
  position: fixed;
  top: 0px;
  left: 300px;
  width: 82%;
  overflow: scroll;
    .upper-message {
      display: flex;
      &__user-name {
        color: $black;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        color: $light_gray;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        color: $black;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
  }
.messages_user {
  overflow: scroll;
}
.messages_edit {
  height: 40px;
  width: 40px;
  float: right;
  position: relative;
  right: 80px;
  display: flex;
    font-size: 20px
  }
.chat-group-form__label {
      // display: block;
      line-height: 50px;
      font-weight: bold;
      text-align: right;
    }

    .chat-group-form__input {
      float: left;
      width: 100%;
      line-height: 30px;
      padding: 10px 15px;
      box-sizing: border-box;
    }
    .chat__group_name{
      width:38%;
    }
